[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/closetag"]
	path = vim/.vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/.vim/bundle/buffergator"]
	path = vim/.vim/bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-perl"]
	path = vim/.vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
